<template name="akwaba">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                <div class="caption center-align">
                  <h3 style="font-size:60px; font-style:normal italic">L' Association des Ingénieurs STIC vous dit Akwaba</h3>
                  <h5 style="font-size:40px; font-style:italic" class="light grey-text text-lighten-3"> IT Managers for digital challenges...</h5>
                </div>
              </li>
              <li>
                <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                <div class="caption left-align">
                  <h3 style="font-size:60px; font-style:normal italic">Nos projets</h3>
                  <h4>    --</h4>
                  <h5 style="font-size:40px; font-style:italic" class="light grey-text text-lighten-3">IT Managers for digital challenges...</h5>
                </div>
              </li>
              <li>
                <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                <div class="caption right-align">
                  <h3 style="font-size:60px; font-style:normal italic">Mot du Président: ...</h3>
                  <h5 style="font-size:40px; font-style:oblique italic" class="light grey-text text-lighten-3">Concevoir- Coder- Transmettre</h5>
                </div>
              </li>
        </ul>
    </div>
</template>