<template name="contactUs">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src=""> <!-- random image -->
                <div class="caption center-align">
                    <h1>Nous contacter !</h1>
                    <h5 class="light grey-text text-lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
                    <br>
                    <div class="row">
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large facebook"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large twitter"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large github"><i class="fa fa-github"></i></a>                     
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>