<template name='footer'>
	<footer class="page-footer" style="background-color:#3f86d6">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <img src="img/logo/logo_stic.png"  style="position:relative ; left:15% ; width:50%"/>
                <h5 class="grey-text text-lighten-4" style="font-size:1.5em">Association des Ingénieurs STIC</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">SUIVEZ-NOUS</h5>
                <ul>
                  <li><a class="white-text text-lighten-2" href="#"><img src="img/icones/facebook.png" class="circle responsive-img" style="position:relative ; left:22% ; width:10%" /></a></li>
                  <li><a class="grey-text text-lighten-3" href="#"><img src="img/icones/twitter.png" class="circle responsive-img" style="position:relative ; left:22% ; width:10%"/></a></li>
                  <li><a class="grey-text text-lighten-3" href="#"><img src="img/icones/googleplus.png" class="circle responsive-img" style="position:relative ; left:22% ; width:10%"/></a></li>
                  <li><a class="grey-text text-lighten-3" href="#"><img src="img/icones/boite.png" class="circle responsive-img" style="position:relative ; left:22% ; width:10%"/></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              © 2017 Copyright Association des Ingénieurs STIC
              <!-- On pourra venir mettre un lien à ce niveau!-->
              <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
  </footer>	
</template>