<template name='footer'>
	<footer class="page-footer grey lighten-4">
          <div class="container" style="width:85%;">
            <div class="row">
              <!-- Format PC et écrans plus larges !-->
              <div class="col l5  hide-on-med-and-down" style="position:relative; top:100px;">
                <div class="valign-wrapper">
                    <img class="responsive-img" style="width:100px;" src="img/logo/logo_stic.png"  />
                    <h5 class="black-text flow-text" style="position:relative; left:10px;">Association des Ingénieurs STIC</h5>
                </div>                
              </div>
              <div class="col l7 hide-on-med-and-down">
                  <div class="col l6 hide-on-med-and-down">
                      <h5 class="flow-text black-text ">A propos de nous !</h5>
                      <div class="divider"></div>
                      <ul class="left-align">
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Qui sommes-nous ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Comment ça marche ? ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nous rejoindre ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Mentions légales</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nos partenaires</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Plan du site</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Contacts</span></a></li>
                      </ul>
                    </div>
                  <div class="col l6 hide-on-med-and-down">
                    <h5 class="flow-text black-text">Suivez-nous !</h5>
                    <div class="divider"></div>
                    <br>
                    <div class="row">
                        <div class="col l3">
                          <a class="waves-effect waves-light btn-floating btn-large facebook">
                              <i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large twitter">
                                <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large instagram">
                                <i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="col l3">
                            <a class="waves-effect waves-light btn-floating btn-large github">
                                <i class="fa fa-github"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col l2">
                                    <i class="material-icons" style="color:black;">email</i>
                                </div>
                                <div class="col l10">
                                    <span class="flow-text" style="font-size:1.1em; color:black;"> aistic.inphb@gmail.com </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col l2">
                                    <i class="material-icons" style="color:black;">location_on</i>
                                </div>
                                <div class="col l10">
                                    <span class="flow-text" style="font-size:1.1em; color:black;"> INP-HB, Yamoussoukro - Côte d'Ivoire </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col l2">
                                    <i class="material-icons" style="color:black;">call</i>
                                </div>
                                <div class="col l10">
                                    <span class="flow-text" style="font-size:1.1em; color:black;"> +225 49 63 12 23 </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
              </div>
            
              <!-- Format Tablette et écrans moyens!-->
              <div class="hide-on-large-only hide-on-small-only">
                  <div class="valign-wrapper">
                      <img class="responsive-img" style="width:100px;" src="img/logo/logo_stic.png"  />
                      <h5 class="black-text flow-text" style="position:relative; left:10px;">Association des Ingénieurs STIC</h5>
                  </div> 
              </div>
              <br>
              <div class="hide-on-large-only hide-on-small-only">
                  <div class="col m6 hide-on-large-only hide-on-small-only">
                      <h5 class="flow-text black-text ">A propos de nous !</h5>
                      <div class="divider"></div>
                      <ul class="left-align">
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Qui sommes-nous ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Comment ça marche ? ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nous rejoindre ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Mentions légales</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nos partenaires</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Plan du site</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Contacts</span></a></li>
                      </ul>
                  </div>
                  <div class="col m6 hide-on-large-only hide-on-small-only">
                    <h5 class=" flow-text black-text ">Suivez-nous !</h5>
                    <div class="divider"></div>
                    <br>
                    <div class="row">
                        <div class="col m3">
                          <a class="waves-effect waves-light btn-floating btn-large facebook">
                              <i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="col m3">
                            <a class="waves-effect waves-light btn-floating btn-large twitter">
                                <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="col m3">
                            <a class="waves-effect waves-light btn-floating btn-large instagram">
                                <i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="col m3">
                            <a class="waves-effect waves-light btn-floating btn-large github">
                                <i class="fa fa-github"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col m2">
                                    <i class="material-icons" style="color:black;">email</i>
                                </div>
                                <div class="col m10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> aistic.inphb@gmail.com </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col m2">
                                    <i class="material-icons" style="color:black;">location_on</i>
                                </div>
                                <div class="col m10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> INP-HB, Yamoussoukro - Côte d'Ivoire </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col m2">
                                    <i class="material-icons" style="color:black;">call</i>
                                </div>
                                <div class="col m10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> +225 49 63 12 23 </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
              </div>
              <!-- Format smartphone et pétits écrans!-->
              <div class="hide-on-med-and-up">
                  <a href="#"><img class="responsive-img" style="width:25%;" src="/img/logo/logo_stic.png"></a>
                  <br />
                  <a href="#"><span class="black-text flow-text">Association des Ingénieurs STIC</span></a>
              </div>
              <br />
              <div class="hide-on-med-and-up">
                  <div class="hide-on-med-and-up">
                      <h5 class="flow-text black-text ">A propos de nous !</h5>
                      <div class="divider"></div>
                      <ul class="left-align">
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Qui sommes-nous ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Comment ça marche ? ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nous rejoindre ?</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Mentions légales</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Nos partenaires</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Plan du site</span></a></li>
                          <li><a class="black-text" href="#!"><span style="font-size:1.1em;">Contacts</span></a></li>
                      </ul>
                  </div>
                  <div class="hide-on-med-and-up">
                    <h5 class=" flow-text black-text ">Suivez-nous !</h5>
                    <div class="divider"></div>
                    <br>
                    <div class="row">
                        <div class="col s3">
                          <a class="waves-effect waves-light btn-floating btn-large facebook">
                              <i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="col s3">
                            <a class="waves-effect waves-light btn-floating btn-large twitter">
                                <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="col s3">
                            <a class="waves-effect waves-light btn-floating btn-large instagram">
                                <i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="col s3">
                            <a class="waves-effect waves-light btn-floating btn-large github">
                                <i class="fa fa-github"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col s2">
                                    <i class="material-icons" style="color:black;">email</i>
                                </div>
                                <div class="col s10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> aistic.inphb@gmail.com </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s2">
                                    <i class="material-icons" style="color:black;">location_on</i>
                                </div>
                                <div class="col s10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> INP-HB, Yamoussoukro - Côte d'Ivoire </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col s2">
                                    <i class="material-icons" style="color:black;">call</i>
                                </div>
                                <div class="col s10">
                                    <span class="flow-text" style="font-size:1.3em; color:black;"> +225 49 63 12 23 </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey">
            <div class="container">
            © 2017 Copyright Association des Ingénieurs STIC
            <!-- On pourra venir mettre un lien à ce niveau!-->
            <a class="grey-text right" href="#!"></a>
            </div>
          </div>
        </footer>	
</template>
