<template name="navbar">
  <nav style="position:fixed ; width:100%">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="responsive-img" src="/img/logo/logo_stic.png" style="height:50% ; width:10%">
        <h5 style="position:relative ; left:11% ; bottom:65px">Association des Igenieurs STIC</h5>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="akwaba.html">Acceuil</a></li>
        <li><a href="projets.html">Nos projets</a></li>
        <li><a href="trombino.html">Trombino</a></li>
        <li><a href="contacts.html">Nous contacter</a></li>
      </ul>
    </div>
  </nav>
</template>